/CAETEv1.0_PLS/caete_results_server/paper_mestrado_Amz_basin/biomass_benchmark/Baccini_biomass_sinus.tif
/CAETEv1.0_PLS/caete_results_server/paper_mestrado_Amz_basin/biomass_benchmark/Saatchi_america_agb_1km.tif
